### learn pandas by doing random exercises

In [3]:
# clears all the variable values previously set
# from IPython import get_ipython
# get_ipython().magic("reset -sf")

In [4]:
# numpy is good for multidimensional arrays and much more.
import numpy as np
# pandas is used for data manipulation and analysis
import pandas as pd

#from pandas_datareader import data as web #reads stock data
import matplotlib.pyplot as plt # plotting
import matplotlib.dates as mdates # styling dates
from toolz.utils import raises
%matplotlib notebook

import warnings
warnings.simplefilter("ignore")

## Numpy stuff

In [5]:
# arrays and stuff
just_a_list = [1,2,3,4]
nparray = np.array(just_a_list) # convert the list to a numpy array
nparray
type(nparray) # returns np.ndarray -> nd stands for n-dimensional

numpy.ndarray

### array in range

In [6]:
# create array from 0 to 4
nparray1 = np.arange(0,5)  # start, stop
nparray1

array([0, 1, 2, 3, 4])

In [7]:
# define a step
nparray3 = np.arange(0,11,2) ## start, stop, step
nparray3

array([ 0,  2,  4,  6,  8, 10])

### Matrices (or fancy name for 3D arrays, I guess?)

In [8]:
# create a 4 row matrix with 3 columns with all having the same value
matrice1 = np.zeros((4,3)) # fills the matrix in this order rows, columns
matrice1

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

### random matrices

In [9]:
# random values between 0 and 13 as a matrix with 4 rows and 3 columns
matrice2 = np.random.randint(0,13,(4,3)) # (value-range start,end,(row,column))
matrice2

array([[10,  5,  6],
       [10,  3,  5],
       [ 6,  9,  4],
       [ 0, 11,  5]])

### generate defined number of values in range

In [10]:
# generate 10 equally distanced values between 1 and 10
matrice3 = np.linspace(1,10,5) # good when I wannt to divide 100 in 15 chunks
matrice3_1 = np.linspace(1,10,5)
matrice3_1 = np.linspace(100,0,5)
print(matrice3, "\n", matrice3_1)
print("\n")
print(matrice3, "\n", matrice3_1)

[ 1.    3.25  5.5   7.75 10.  ]
 [100.  75.  50.  25.   0.]


[ 1.    3.25  5.5   7.75 10.  ]
 [100.  75.  50.  25.   0.]

### reshape arrays

In [11]:
# create array with 12 values
matrice4 = np.random.randint(0,50,12)
matrice4

array([ 9, 15, 45,  7, 31, 25, 23, 23, 12,  0, 22, 14])

In [12]:
# reshape to a 3 row 4 column array
matrice5 = matrice2.reshape(3,4) # var_new = var_call.reshape(row,col)
matrice5

array([[10,  5,  6, 10],
       [ 3,  5,  6,  9],
       [ 4,  0, 11,  5]])

In [13]:
# reshape into a 3d arraw with 3 blocks, 2 rows, 2 columns
# reshape differently, 2 blocks, 2 rows, 3 columns
matrice6 = matrice2.reshape(3,2,2) # reshape(blocks,row,col)
matrice6

array([[[10,  5],
        [ 6, 10]],

       [[ 3,  5],
        [ 6,  9]],

       [[ 4,  0],
        [11,  5]]])

In [14]:
# get the values in the 2nd block, 3rd row and last column
matrice6[0][1][1]

10

### filter arrays

In [15]:
# provide a boolean array where values are above 10
print(matrice2)
matrice2 > 10

[[10  5  6]
 [10  3  5]
 [ 6  9  4]
 [ 0 11  5]]

array([[False, False, False],
       [False, False, False],
       [False, False, False],
       [False,  True, False]])

In [16]:
# return an array with just values over 20
matrice2[matrice2 > 5]

array([10,  6, 10,  6,  9, 11])

## basic basic stats

In [17]:
# mean, avg, median, std, var, maybe add some more later ?
eth_price = np.random.randint(90,4800,48) # buy 1 eth once a month
eth_price 
print("Avg price is: ", eth_price.mean().round(2)) #why is it so easy ? ffs
print("Min is:        ", eth_price.min())
print( "Max is:       ", eth_price.max())
print("Std is:       ", eth_price.std().round())
print("variance is:  ", eth_price.var().round())

Avg price is:  2366.35
Min is:         239
Max is:        4790
Std is:        1241.0
variance is:   1540425.0

### the seed function

In [18]:
np.random.seed(123) # SEED is the reason it stays the same
matrice7 = np.random.randint(0,50,10)
matrice7

array([45,  2, 28, 34, 38, 17, 19, 42, 22, 33])

## -------^_^------ PANDAS -------^_^------

###  read data from a CSV

In [19]:
def get_data_from_csv(csv_file): 
    try:
        # Validate file extension
        if not csv_file.endswith('.csv'):
            raise ValueError('The file must be a csv file.')

        # Read the csv file
        df = pd.read_csv(csv_file)
    except FileNotFoundError:
        pass
    else:
        return df

pyrusdt_df = get_data_from_csv('csv_test_for_pandas.csv')
pyrusdt_df

,experiment_id,instrument,OpenTS per 5 minutes,CloseTS per 5 minutes,duration in hours,duration in minutes,job_id,amount,lowest_v,highest_v,...,total nr of trades,AVG trade duration,AVG nov-dec,AVG jan-may,AVG june-oct,profitable trades,Losing trades,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,f3aef9c8-6bf0-4226-8478-a1505e87d281,PYRUSDT,2021-11-26 9:30,2021-11-26 9:40,0:10,10,NaN,"1,000",938.99,1030.00,...,626.0,94.0,64.0,97.0,140.0,438.0,188.0,NaN,NaN,NaN
1,f3aef9c8-6bf0-4226-8478-a1505e87d281,PYRUSDT,2021-11-26 9:50,2021-11-26 9:50,0:00,0,NaN,"1,029",1022.15,1060.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,f3aef9c8-6bf0-4226-8478-a1505e87d281,PYRUSDT,2021-11-26 9:50,2021-11-26 10:00,0:10,10,NaN,"1,059",1041.63,1091.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f3aef9c8-6bf0-4226-8478-a1505e87d281,PYRUSDT,2021-11-26 10:10,2021-11-26 10:20,0:10,10,NaN,"1,090",1061.29,1106.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,percentile,NaN,NaN
4,f3aef9c8-6bf0-4226-8478-a1505e87d281,PYRUSDT,2021-11-26 10:30,2021-11-26 10:40,0:10,10,NaN,"1,087",1060.77,1119.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.27,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,f3aef9c8-6bf0-4226-8478-a1505e87d281,PYRUSDT,2022-09-21 20:10,2022-09-21 20:30,0:20,20,NaN,"26,776",26755.86,27579.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,f3aef9c8-6bf0-4226-8478-a1505e87d281,PYRUSDT,2022-09-21 23:10,2022-09-22 1:00,1:50,110,NaN,"27,559",27013.34,27887.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623,f3aef9c8-6bf0-4226-8478-a1505e87d281,PYRUSDT,2022-09-25 15:40,2022-09-25 16:10,0:30,30,NaN,"27,605",27341.21,28231.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624,f3aef9c8-6bf0-4226-8478-a1505e87d281,PYRUSDT,2022-09-28 4:20,2022-09-28 8:00,3:40,220,NaN,"28,129",27933.88,28717.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,f3aef9c8-6bf0-4226-8478-a1505e87d281,PYRUSDT,2022-09-29 14:30,2022-09-29 16:40,2:10,130,NaN,"28,696",27638.58,28753.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###  read data from a XLS

In [20]:
# define func that takes one argument( a csv file)
# we validate if the file is a csv format. if not, raise error
# the function then tries to read the csv file using the pandas.read_csv function
# if the csv is not found, an error is raised.
# otherwise the data is returned in a pandas dataframe
# call function and pass the csv file, storing the data in the desired variable

def get_data_from_excel_file(excel_file):
    try:
        #validate if file is excel format
        if not excel_file.endswith('.xlsx'):
            raise ValueError('the file must be of xlsx type.')

        # Read the csv file
        df = pd.read_excel(excel_file)
    except FileNotFoundError:
        pass
    else:
        return df

excel_df = get_data_from_excel_file('xls_test_for_pandas.xlsx')
excel_df

,experiment_id,instrument,OpenTS per 5 minutes,CloseTS per 5 minutes,trade duration,job_id,amount,lowest_v,highest_v,profit_v,profit_p,max_DD,open_price,close_price,tp_p,TP reached
0,f1679b0b-befb-4200-a58f-4991063a84f9,LINKUSDT,2022-06-16 04:40:00,2022-06-16 18:05:00,13:25:00,8ad9ef080cb96ad2f5f4a2c0ce6d23156b01f0d7,1000.000,870.134,1007.671,-85.642,-8.564,-12.987,7.125,6.515,3,-8.564
1,f1679b0b-befb-4200-a58f-4991063a84f9,AVAXUSDT,2022-06-16 12:05:00,2022-06-16 22:05:00,10:00:00,10234c1db8d56ed59bba267bdef7daf293a745d2,1000.000,951.007,1016.136,14.771,1.477,-4.899,16.582,16.827,3,1.477
2,f1679b0b-befb-4200-a58f-4991063a84f9,ETHUSDT,2022-06-16 12:15:00,2022-06-17 04:40:00,16:25:00,c45240851a8fea459a8fbef51b702179228dff48,1000.000,925.255,1014.946,-31.212,-3.121,-7.474,1136.021,1100.564,3,-3.121
3,f1679b0b-befb-4200-a58f-4991063a84f9,NEARUSDT,2022-06-16 12:20:00,2022-06-16 18:25:00,06:05:00,aea3ddb65bbd095fa6fc5f252bff93e0ad738208,1000.000,950.938,1002.786,-11.802,-1.180,-4.906,3.395,3.354,3,-1.180
4,f1679b0b-befb-4200-a58f-4991063a84f9,ATOMUSDT,2022-06-16 12:20:00,2022-06-17 08:30:00,20:10:00,cbd41990c604e1c26f4fdffede4fb8ee39b9ff45,1000.000,916.227,1002.216,-38.535,-3.854,-8.377,6.745,6.485,3,-3.854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,f1679b0b-befb-4200-a58f-4991063a84f9,AVAXUSDT,2022-08-09 17:05:00,2022-08-10 00:25:00,07:20:00,10234c1db8d56ed59bba267bdef7daf293a745d2,1124.105,1122.017,1149.404,24.023,2.137,-0.186,27.090,27.669,3,2.137
162,f1679b0b-befb-4200-a58f-4991063a84f9,SOLUSDT,2022-08-09 17:05:00,2022-08-10 11:50:00,18:45:00,036f9180e286e701d3bbafea7e23eb6c8671f20f,1140.005,1118.860,1163.728,2.004,0.176,-1.855,39.890,39.960,3,0.176
163,f1679b0b-befb-4200-a58f-4991063a84f9,NEARUSDT,2022-08-10 03:35:00,2022-08-10 08:00:00,04:25:00,aea3ddb65bbd095fa6fc5f252bff93e0ad738208,1279.957,1264.347,1318.356,37.410,2.923,-1.220,5.242,5.395,3,2.923
164,f1679b0b-befb-4200-a58f-4991063a84f9,LINKUSDT,2022-08-10 03:35:00,2022-08-10 11:50:00,08:15:00,8ad9ef080cb96ad2f5f4a2c0ce6d23156b01f0d7,878.520,863.704,889.208,0.348,0.040,-1.686,8.439,8.443,3,0.040
165,f1679b0b-befb-4200-a58f-4991063a84f9,ATOMUSDT,2022-08-10 03:40:00,2022-08-10 10:40:00,07:00:00,cbd41990c604e1c26f4fdffede4fb8ee39b9ff45,1083.201,1033.803,1083.473,-13.145,-1.214,-4.560,10.991,10.858,3,-1.214

###  read data from a HTML

In [21]:
get_full_data_from_html = pd.read_html("https://en.wikipedia.org/wiki/Demographics_of_the_United_States")
get_full_data_from_html

[                    Demographics of the United States  \
 0   Population pyramid of the United States as of ...
 1                                          Population
 2                                             Density
 3                                         Growth rate
 4                                          Birth rate
 5                                          Death rate
 6                                     Life expectancy
 7                                              • male
 8                                            • female
 9                                      Fertility rate
 10                              Infant mortality rate
 11                                 Net migration rate
 12                                      Age structure
 13                                     Under 18 years
 14                                        18–44 years
 15                                        45–64 years
 16                                        65 and over
 17                                           Language
 18                                           Official
 19                                             Spoken
 20                      Source: The World Factbook[5]

                   Demographics of the United States.1
 0   Population pyramid of the United States as of ...
 1                               333,287,557 (2022)[1]
 2                             86.16/sq mi (33.27/km2)
 3                                         0.4% (2022)
 4                 11.0 births/1,000 population (2021)
 5                 10.4 deaths/1,000 population (2021)
 6                                76.1 years (2021)[2]
 7                                73.2 years (2021)[2]
 8                                79.1 years (2021)[2]
 9                 1.664 children born/woman (2021)[3]
 10            5.4 deaths/1,000 live births (2020) [4]
 11            3 migrant(s)/1,000 population (2020)[5]
 12                                      Age structure
 13                                    22.2% (2021)[6]
 14                                    35.9% (2021)[6]
 15                                    25.2% (2021)[6]
 16                                    16.8% (2021)[6]
 17                                           Language
 18  No official language at national level. Englis...
 19  .mw-parser-output .plainlist ol,.mw-parser-out...
 20                      Source: The World Factbook[5]  ,
    age (years)  total (in thousands) % of US pop.  males (in thousands)  \
 0            0                  3564         1.1%                  1822
 1          < 5                 18827         5.7%                  9624
 2         < 15                 60467        18.2%                 30989
 3        15-24                 43089        13.0%                 21996
 4        25-34                 45495        13.7%                 23053
 5        35-44                 43404        13.1%                 21858
 6        45-54                 40688        12.3%                 20312
 7        55-64                 42803        12.9%                 20963
 8          65+                 55848        16.8%                 25214
 9          75+                 22182         6.7%                  9344
 10         85+                  5976         1.8%                  2176
 11        100+                    98        0.03%                    25
 12         all                331894         100%                164385

     females (in thousands) % male % female  sex ratio: male/female
 0                     1743  51.1%    48.9%                    1.05
 1                     9203  51.1%    48.9%                    1.05
 2                    29578  51.2%    48.8%                    1.05
 3                    21092  51.0%    49.0%                    1.04
 4                    22442  50.7%    49.3%                    1.03
 5                    21546  50.4%    49.6%                    1.01
 6                    20376  49.9%    50.1%                    0.99
 7                    21840  49.0%    51.0%                    0.96
 8                    30634  45.1%    54.9%                    0.82
 9                    12837  42.1%    57.9%                    0.73
 10                    3800  36.4%    63.6%                    0.57
 11                      73  25.5%    74.5%                    0.34
 12                  167509  49.5%    50.5%                    0.98  ,
                                   Race  Male LEB in 2021  Female LEB in 2021  \
 0                             NH White              73.7                79.2
 1                             NH Black              66.7                74.8
 2                             NH Asian              81.2                85.6
 3  NH American Indian or Alaska Native              61.5                69.2
 4                             Hispanic              74.4                81.0
 5                All origins and races              73.2                79.1

    Total LEB in 2021*  Total LEB in 2020  Total LEB in 2019  2019 - 2021
 0                76.4               77.4               78.8          2.4
 1                70.8               71.5               74.8          4.0
 2                83.5               83.6               85.6          2.1
 3                65.2               67.1               71.8          6.6
 4                77.7               77.9               81.9          4.2
 5                76.1               77.0               78.8          2.7  ,
    Unnamed: 0_level_0 Females                   Males                   Total  \
                   Age  Cohort Life expectancy  Cohort Life expectancy  Cohort
 0                   0  100000            79.9  100000            74.2  100000
 1                   1   99508            79.3   99415            73.6   99461
 2                   5   99429            75.3   99313            69.7   99377
 3                  10   99381            70.4   99254            64.7   99323
 4                  15   99317            65.4   99155            59.8   99242
 5                  20   99157            60.5   98741            55.0   98952
 6                  25   98876            55.7   97961            50.5   98415
 7                  30   98479            50.9   96994            45.9   97725
 8                  35   97933            46.2   95815            41.5   96856
 9                  40   97215            41.5   94420            37.0   95794
 10                 45   96266            36.9   92731            32.7   94471
 11                 50   94928            32.4   90497            28.4   92680
 12                 55   92979            28.0   87332            24.3   90115
 13                 60   90111            23.8   82736            20.5   86376
 14                 65   86039            19.8   76439            17.0   81181
 15                 70   80547            15.9   68491            13.7   74466
 16                 75   72737            12.4   58588            10.6   65565
 17                 80   61298             9.2   45661             7.8   53346
 18                 85   45424             6.5   30276             5.5   37700
 19                 90   26271             4.4   14824             3.7   20477
 20                 95    9599             2.9    4216             2.5    6889
 21                100    1727             2.0     549             1.8    1142


    Life expectancy
 0             77.0
 1             76.4
 2             72.5
 3             67.5
 4             62.6
 5             57.7
 6             53.0
 7             48.4
 8             43.8
 9             39.3
 10            34.8
 11            30.4
 12            26.2
 13            22.2
 14            18.5
 15            14.9
 16            11.6
 17             8.6
 18             6.1
 19             4.2
 20             2.8
 21             2.0  ,
    Year                  Total     Non-Hispanic White   Non-Hispanic Black  \
 0  2021  3,664,292 (TFR: 1.66)  1,887,656 (TFR: 1.57)  517,889 (TFR: 1.65)
 1  2020  3,613,647 (TFR: 1.64)  1,843,432 (TFR: 1.55)  529,811 (TFR: 1.71)

               Hispanic   Non-Hispanic Asian Non-Hispanic Indigenous  \
 0  885,916 (TFR: 1.89)  213,813 (TFR: 1.33)      35,655 (TFR: 1.57)
 1  866,713 (TFR: 1.88)  219,068 (TFR: 1.39)                   36439

           Multiracial
 0  86,982 (TFR: 1.52)
 1                 NaN  ,
           Race and Hispanic origin of mother and year  January–June  January  \
 0                           Non-Hispanic White (2019)        937741   156819
 1                           Non-Hispanic White (2020)        916986   152519
 2                           Non-Hispanic White (2021)        914813   142083
 3                           Non-Hispanic Black (2019)        262114    47486
 4                           Non-Hispanic Black (2020)        259759    46356
 5                           Non-Hispanic Black (2021)        245753    41310
 6   Non-Hispanic American Indian or Alaska native ...         14013     2525
 7   Non-Hispanic American Indian or Alaska native ...         13234     2292
 8   Non-Hispanic American Indian or Alaska native ...         12498     2135
 9                           Non-Hispanic Asian (2019)        116289    19628
 10                          Non-Hispanic Asian (2020)        110811    19303
 11                          Non-Hispanic Asian (2021)        102279    15658
 12  Non-Hispanic Hawaiian or other Pacific Islande...          4695      790
 13  Non-Hispanic Hawaiian or other Pacific Islande...          4665      803
 14  Non-Hispanic Hawaiian or other Pacific Islande...          4413      799
 15                      Hispanic (of any race) (2019)        421991    73742
 16                      Hispanic (of any race) (2020)        420563    73601
 17                      Hispanic (of any race) (2021)        409941    65687
 18                       All races and origins (2019)       1814497   310872
 19                       All races and origins (2020)       1783124   304722
 20                       All races and origins (2021)       1748768   276980

     February   March   April     May    June  \
 0     142992  157502  156516  165587  158325
 1     138756  155981  150953  156888  156933
 2     138803  159055  153980  156969  163923
 3      41497   43583   42151   44584   42813
 4      40587   43591   41395   42999   43381
 5      38628   41952   39810   40936   43117
 6       2182    2332    2293    2382    2299
 7       1977    2213    2195    2240    2246
 8       1932    2181    2098    1961    2191
 9      17975   19910   19261   20168   19347
 10     17068   19268   17986   18696   17880
 11     15410   18019   17482   17552   18158
 12       762     814     738     847     744
 13       759     794     705     820     757
 14       616     753     731     806     708
 15     65667   70442   68517   72747   70876
 16     65140   70361   68000   70085   71050
 17     61961   70060   68202   70722   73309
 18    279963  304237  298947  316386  304092
 19    272907  301625  290478  301481  302164
 20    266107  302137  292454  299308  311782

    Total pop.'s percent (January–June)
 0                               51.67%
 1                               51.43%
 2                               52.32%
 3                               14.45%
 4                               14.57%
 5                               14.05%
 6                                0.77%
 7                                0.74%
 8                                0.69%
 9                                6.41%
 10                               6.21%
 11                               5.85%
 12                               0.26%
 13                               0.26%
 14                               0.25%
 15                              23.26%
 16                              23.59%
 17                              23.44%
 18                                 NaN
 19                                 NaN
 20                                 NaN  ,
           Race and Hispanic origin of mother and year January–June January  \
 0                      Non-Hispanic White (2019-2020)           -2      -3
 1                      Non-Hispanic White (2020-2021)           †0      -7
 2                      Non-Hispanic Black (2019-2020)           -1      -2
 3                      Non-Hispanic Black (2020-2021)           -5     -11
 4   Non-Hispanic American Indian or Alaska native ...           -6      -9
 5   Non-Hispanic American Indian or Alaska native ...           -6      -7
 6                      Non-Hispanic Asian (2019-2020)           -5     †-2
 7                      Non-Hispanic Asian (2020-2021)           -8     -19
 8   Non-Hispanic Hawaiian or other Pacific Islande...          †-1      †2
 9   Non-Hispanic Hawaiian or other Pacific Islande...            5      †0
 10                 Hispanic (of any race) (2019-2020)           †0      †0
 11                 Hispanic (of any race) (2020-2021)           -3     -11
 12                  All races and origins (2019-2020)           -2      -2
 13                  All races and origins (2020-2021)           -2      -9

    February March April  May June
 0        -3    -1    -4   -5   -1
 1        †0     2     2   †0    4
 2        -2    †0    -2   -4   †1
 3        -5    -4    -4   -5  †-1
 4        -9   †-5   †-4   -6  †-2
 5       †-2   †-1   †-4  -12  †-2
 6        -5    -3    -7   -7   -8
 7       -10    -6    -3   -6   †2
 8        †0   †-2   †-4  †-3   †2
 9       -19   †-5    †4  †-2  †-6
 10      †-1    †0   †-1   -4   †0
 11       -5    †0    †0   †1    3
 12       -3    -1    -3   -5   -1
 13       -2    †0     1   -1    3  ,
                                Race of mother  Number of births in 2016  \
 0                                       White                   2900933
 1                                  > NH White                   2056332
 2                                       Black                    623886
 3                                  > NH Black                    558622
 4                                    NH Asian                    254471
 5         NH American Indian or Alaska native                     31452
 6  NH Hawaiian (incl. other Pacific Islander)                      9342
 7                                       Total                   3945875

   % of all born  TFR (2016)  Number of births in 2017 % of all born.1  \
 0         73.5%       1.770                   2812267           72.9%
 1         52.1%       1.719                   1992461           51.7%
 2         15.8%       1.900                    626027           16.2%
 3         14.2%       1.832                    560715           14.5%
 4          6.5%       1.690                    249250            6.5%
 5          0.8%       1.794                     29957            0.8%
 6          0.2%       2.076                      9426            0.2%
 7          100%       1.820                   3855500            100%

    TFR (2017)  Number of births in 2018 % of all born.2  TFR (2018)  \
 0       1.760                   2788439           73.5%       1.750
 1       1.666                   1956413           51.6%       1.640
 2       1.920                    600933           15.8%       1.870
 3       1.824                    552029           14.6%       1.792
 4       1.597                    240798            6.4%       1.525
 5       1.702                     29092            0.8%       1.651
 6       2.085                      9476            0.3%       2.106
 7       1.765                   3791712            100%       1.729

    Number of births in 2019 % of all born.3  TFR (2019)  \
 0                       NaN             NaN         NaN
 1                 1915912.0           51.1%       1.611
 2                       NaN             NaN         NaN
 3                  548075.0           14.6%       1.776
 4                  238769.0            6.4%       1.511
 5                   28450.0           0.76%       1.612
 6                    9770.0           0.26%       2.178
 7                 3747540.0            100%       1.706

    Number of births in 2020 % of all born.4  TFR (2020) 2020-2016
 0                       NaN             NaN         NaN       NaN
 1                 1843432.0           51.0%       1.552    10.35%
 2                       NaN             NaN         NaN       NaN
 3                  529811.0           14.7%       1.714     5.16%
 4                  219068.0            6.1%       1.385     13.9%
 5                   26813.0           0.74%       1.517    14.75%
 6                    9626.0           0.26%       2.142     3.04%
 7                 3613647.0            100%       1.641     9.84%  ,
           Ethnicity of mother  Number of births in 2016 % of all born  \
 0  Non-Hispanic (of any race)                   3027428           NaN
 1      Hispanic (of any race)                    918447         23.3%

    TFR (2016)  Number of births in 2017 % of all born.1  TFR (2017)  \
 0         NaN                   2956736             NaN         NaN
 1       2.093                    898764           23.3%       2.007

    Number of births in 2018 % of all born.2  TFR (2018)  \
 0                   2905502             NaN         NaN
 1                    886210           23.4%       1.959

    Number of births in 2019 % of all born.3  TFR (2019)  \
 0                   2861073             NaN         NaN
 1                    886467           23.7%        1.94

    Number of births in 2020 % of all born.4  TFR (2020) 2020-2016
 0                   2746933             NaN         NaN       NaN
 1                    866714           24.0%       1.876     5.63%  ,
                      Race  2008  2011  2013
 0                   White  2.29  2.01  1.94
 1                   Black  2.51  2.57  2.35
 2                   Asian  2.25  2.02  1.93
 3                   Other  1.80  2.04  2.06
 4  Hispanic (of any race)  3.15  2.77  2.46
 5                   Total  2.75  2.45  2.22,
                Country    2021
 0               Mexico  107230
 1                India   93450
 2                China   49847
 3          Philippines   27511
 4   Dominican Republic   24553
 5                 Cuba   23077
 6          El Salvador   18668
 7               Brazil   18351
 8              Vietnam   16312
 9             Colombia   15293
 10           Venezuela   14412
 11             Jamaica   13357
 12             Nigeria   13100
 13         South Korea   12351
 14               Haiti   11456,
           Region    2021
 0       Americas  311806
 1           Asia  295306
 2         Africa   66211
 3         Europe   61521
 4        Oceania    4147
 5  Not Specified    1011
 6          Total  707362,
    Class of Admission (Adjustments of Status and New Arrivals)    2021
 0                Immediate relatives of U.S. citizens           385396
 1                        Family-sponsored preferences            65690
 2                        Employment-based preferences           193338
 3                                           Diversity            15145
 4                                            Refugees            35847
 5                                             Asylees            20550
 6                                            Parolees               13
 7             Children born abroad to alien residents               75
 8   Certain Iraqis and Afghans employed by U.S. Go...             8303
 9                             Cancellation of removal             5017
 10                       Victims of human trafficking              942
 11   Victims of crimes and their spouses and children             9257
 12                                              Other              429,
                   Unnamed: 0  Average population[76][30][31]  Live births[77]  \
 0                       1935                       127250000          2377000
 1                       1936                       128053000          2355000

### read a column (us demographics)

In [22]:
# match searches found in tables
vital_statistics = pd.read_html("https://en.wikipedia.org/wiki/Demographics_of_the_United_States",match="Average population")[0]
vital_statistics

,Unnamed: 0,Average population[76][30][31],Live births[77],Deaths,Natural change,"Crude birth rate (per 1,000)","Crude death rate (per 1,000)[78]","Natural change (per 1,000)",Total fertility rate[fn 1][79]
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017[80][81],325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018[82][83],326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020[84][85],331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021[86][87][88][89][90],331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

### replace spaces with column names

In [23]:
# replace spaces with column names // >>>>>>> this needs to be exercised more <<<<<<
vital_statistics.columns = [x.replace(' ', '_') for x in vital_statistics.columns]
vital_statistics

,Unnamed:_0,Average_population[76][30][31],Live_births[77],Deaths,Natural_change,"Crude_birth_rate_(per_1,000)","Crude_death_rate_(per_1,000)[78]","Natural_change_(per_1,000)",Total_fertility_rate[fn_1][79]
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017[80][81],325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018[82][83],326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020[84][85],331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021[86][87][88][89][90],331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

### remove characters in columns ( rounded parentheses)

In [24]:
# remove parentheses and what's inside them <<<<<< needs repetition ! <<<<<<
vital_statistics.columns = vital_statistics.columns.str.replace(r"\(.*\)","")
vital_statistics

,Unnamed:_0,Average_population[76][30][31],Live_births[77],Deaths,Natural_change,Crude_birth_rate_,Crude_death_rate_[78],Natural_change_,Total_fertility_rate[fn_1][79]
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017[80][81],325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018[82][83],326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020[84][85],331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021[86][87][88][89][90],331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

### remove characters in columns (squared parentheses)

In [25]:
# remove parentheses and what's inside them <<<<<< needs repetition ! <<<<<<
vital_statistics.columns = vital_statistics.columns.str.replace(r"\[.*\]","")
vital_statistics

,Unnamed:_0,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate_,Crude_death_rate_,Natural_change_,Total_fertility_rate
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017[80][81],325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018[82][83],326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020[84][85],331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021[86][87][88][89][90],331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

### Rename Columns

In [26]:
vital_statistics = vital_statistics.rename(columns={'Crude_birth_rate_': 'Crude_birth_rate'})
vital_statistics

vital_statistics = vital_statistics.rename(columns={'Crude_death_rate_': 'Crude_death_rate'})
vital_statistics

vital_statistics = vital_statistics.rename(columns={'Natural_change_': 'Natural_change'})
vital_statistics

vital_statistics = vital_statistics.rename(columns={'Unnamed:_0': "Year"})
vital_statistics

,Year,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate,Crude_death_rate,Natural_change,Total_fertility_rate
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017[80][81],325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018[82][83],326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020[84][85],331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021[86][87][88][89][90],331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

### Remove Characters in Columns

In [27]:
# look at previous column, rows #82 to #86. If I want to remove the parentheses, i'd do it like this:
# df.X = df.X.str.replace(r"\[.*\]","") where X is the desired column, in my case Year
# also, in my case I wanted to remove the references which are [] with numbers in them
vital_statistics.Year = vital_statistics.Year.str.replace(r"\[.*\]","")
vital_statistics

,Year,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate,Crude_death_rate,Natural_change,Total_fertility_rate
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

### selecting a particular column

In [28]:
vital_statistics.Average_population  # df.column_name
vital_statistics['Average_population'] # works the same

0     127250000
1     128053000
2     128825000
3     129825000
4     130880000
        ...
82    325122128
83    326838199
84    328329953
85    331501080
86    331893745
Name: Average_population, Length: 87, dtype: int64

### Make a Column an Index

In [29]:
# good when you don't want the standard index, but a different desired column (like Year in this ex)
vital_statistics.set_index('Year', inplace=True)
vital_statistics

,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate,Crude_death_rate,Natural_change,Total_fertility_rate
Year,,,,,,,,
1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...
2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

In [30]:
# vital_statistics.reset_index() ## in case I want to revert to the standard index
# vital_statistics

### Grab Data from Multiple Columns

In [31]:
# var = list of lists
vital_statistics[['Live_births','Deaths']]

      Live_births   Deaths
Year
1935      2377000  1392752
1936      2355000  1479228
1937      2413000  1450427
1938      2496000  1381391
1939      2466000  1387897
...           ...      ...
2017      3855500  2813503
2018      3791712  2839205
2019      3747540  2854858
2020      3613647  3383729
2021      3664292  3464231

[87 rows x 2 columns]

### Grab a Row

In [32]:
# # these would work if the index would off remained the standard one.
# vital_statistics.loc[0]  ## only show a particular row. It's display is confusing though.
# vital_statistics.loc[[0,1]] # here we have two rows, first and second
vital_statistics.loc['2021']

Average_population      3.318937e+08
Live_births             3.664292e+06
Deaths                  3.464231e+06
Natural_change          2.000610e+05
Crude_birth_rate        1.100000e+01
Crude_death_rate        1.050000e+01
Natural_change          5.000000e-01
Total_fertility_rate    1.664000e+00
Name: 2021, dtype: float64

In [33]:
vital_statistics.iloc[86]  # row by index loc

Average_population      3.318937e+08
Live_births             3.664292e+06
Deaths                  3.464231e+06
Natural_change          2.000610e+05
Crude_birth_rate        1.100000e+01
Crude_death_rate        1.050000e+01
Natural_change          5.000000e-01
Total_fertility_rate    1.664000e+00
Name: 2021, dtype: float64

### Add a Column

In [34]:
vital_statistics['Pop_Growth'] = vital_statistics['Live_births'] - vital_statistics['Deaths']
vital_statistics  # same with Natural change

,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate,Crude_death_rate,Natural_change,Total_fertility_rate,Pop_Growth
Year,,,,,,,,,
1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190,984248
1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150,875772
1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170,962573
1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220,1114609
1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170,1078103
...,...,...,...,...,...,...,...,...,...
2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765,1041997
2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729,952507
2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706,892682
2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641,229918
2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664,200061

### Delete Column

In [35]:
vital_statistics.drop('Pop_Growth', axis=1, inplace=True)  # drops desired column
vital_statistics

,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate,Crude_death_rate,Natural_change,Total_fertility_rate
Year,,,,,,,,
1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...
2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

In [36]:
vital_statistics_test = vital_statistics ## some variations for other settings
vital_statistics_test

,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate,Crude_death_rate,Natural_change,Total_fertility_rate
Year,,,,,,,,
1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...
2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

### Delete a Row

In [37]:
vital_statistics.drop('1935',axis=0, inplace=True)
vital_statistics

,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate,Crude_death_rate,Natural_change,Total_fertility_rate
Year,,,,,,,,
1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
1940,131930000,2559000,1417269,1142000,19.4,10.8,8.7,2.301
...,...,...,...,...,...,...,...,...
2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664


## --- Manipulating other data - Countries by GDP ---

In [38]:
countries_by_gdp = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)")[2]
countries_by_gdp

    Country/Territory UN Region IMF[1][13]            World Bank[14]  \
    Country/Territory UN Region   Estimate       Year       Estimate
0               World         —  101560901       2022       96100091
1       United States  Americas   25035164       2022       22996100
2               China      Asia   18321197  [n 1]2022       17734063
3               Japan      Asia    4300621       2022        4937422
4             Germany    Europe    4031149       2022        4223116
..                ...       ...        ...        ...            ...
212             Palau   Oceania        226       2022            258
213          Kiribati   Oceania        207       2022            181
214             Nauru   Oceania        134       2022            133
215        Montserrat  Americas          —          —              —
216            Tuvalu   Oceania         64       2022             63

               United Nations[15]
          Year           Estimate       Year
0         2021           85328323       2020
1         2021           20893746       2020
2    [n 3]2021           14722801  [n 1]2020
3         2021            5057759       2020
4         2021            3846414       2020
..         ...                ...        ...
212       2020                264       2020
213       2020                181       2020
214       2021                135       2020
215          —                 68       2020
216       2021                 55       2020

[217 rows x 8 columns]

In [39]:
for col in countries_by_gdp.columns: # iterate through columns top-dowm left right
    print(col)

('Country/Territory', 'Country/Territory')
('UN Region', 'UN Region')
('IMF[1][13]', 'Estimate')
('IMF[1][13]', 'Year')
('World Bank[14]', 'Estimate')
('World Bank[14]', 'Year')
('United Nations[15]', 'Estimate')
('United Nations[15]', 'Year')

In [40]:
# Delete a level of a multilevel column name
countries_by_gdp.columns = countries_by_gdp.columns.droplevel()
countries_by_gdp

,Country/Territory,UN Region,Estimate,Year,Estimate,Year,Estimate,Year
0,World,—,101560901,2022,96100091,2021,85328323,2020
1,United States,Americas,25035164,2022,22996100,2021,20893746,2020
2,China,Asia,18321197,[n 1]2022,17734063,[n 3]2021,14722801,[n 1]2020
3,Japan,Asia,4300621,2022,4937422,2021,5057759,2020
4,Germany,Europe,4031149,2022,4223116,2021,3846414,2020
...,...,...,...,...,...,...,...,...
212,Palau,Oceania,226,2022,258,2020,264,2020
213,Kiribati,Oceania,207,2022,181,2020,181,2020
214,Nauru,Oceania,134,2022,133,2021,135,2020
215,Montserrat,Americas,—,—,—,—,68,2020
216,Tuvalu,Oceania,64,2022,63,2021,55,2020

In [41]:
# Keep only columns if they haven't used the same name prior
countries_by_gdp = countries_by_gdp.loc[:,~countries_by_gdp.columns.duplicated()]
countries_by_gdp

    Country/Territory UN Region   Estimate       Year
0               World         —  101560901       2022
1       United States  Americas   25035164       2022
2               China      Asia   18321197  [n 1]2022
3               Japan      Asia    4300621       2022
4             Germany    Europe    4031149       2022
..                ...       ...        ...        ...
212             Palau   Oceania        226       2022
213          Kiribati   Oceania        207       2022
214             Nauru   Oceania        134       2022
215        Montserrat  Americas          —          —
216            Tuvalu   Oceania         64       2022

[217 rows x 4 columns]

### More Ways of Messing with Data